.splitDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.splitDiv > div {
  width: 50% !important;
  height: 100vh;
}

.splitDiv .banner {
  background: linear-gradient(135deg, #3065de, #1ed384);
  height: 100vh;
  width: 50vw;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-left: 5%;
}

main {
  padding-left: 0;
}

.benefit {
  display: flex;
  margin-top: 1em;
  gap: 0.5em;
}

.benefitIcon {
  height: 3em;
  width: 3em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(66, 111, 194, 0.354);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.logo {
  position: absolute;
  left: 5em;
  top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  flex-direction: row;
}

/* credit to uiverse (uiverse.io/reglobby/hard-warthog-73) */
.input {
  border: 2px solid transparent;
  font-size: large;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #212121;
  border-radius: 10px;
  transition:
    all 0.1s,
    width 0s ease;
}

.input:hover {
  background-color: #2e2e2e;
}

.input:focus {
  border: 2px solid #257dd0;
  box-shadow: 0px 0px 0px 2px rgb(74, 157, 236, 20%);
  background-color: #414141;
}
.input:invalid {
  border: 2px solid #d02525;
  box-shadow: 0px 0px 0px 2px rgba(236, 74, 74, 0.2);
}

.formContainer {
  display: grid;
  place-content: center;
  gap: 0.5em;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
}

label {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 0.3em;
  flex-direction: column;
  margin-top: 0.5em;
}

label:first-child {
  margin-top: 2em !important;
}

@media (max-width: 1000px) {
  .banner {
    display: none;
  }
}

@media (max-width: 400px) {
  .input {
    width: 100vw;
  }
}
/* From Uiverse.io by satyamchaudharydev */
button {
  --primary-color: linear-gradient(135deg, #3065de, #3fc3e4);
  --secondary-color: #fff;
  --hover-color: #1682e07e;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  cursor: pointer;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
}

.secondary {
  background: var(--background) !important;
  height: 3rem;
  width: 8rem;
  position: relative;
  border-radius: 100rem;
  scale: 0.95;
}

